.env
__pycache__/
*.pyc
venv/
.pytest_cache/
*.db
.ds_store
node_modules/
.vscode/
.DS_Store
AustLII_cases_txt/
Austlii_law_statutes/
cases/
chroma_db/
logs/
AustLII_cases_md_famca_tree/
logs/law_ai.log
test/
dev_data_trace.log